.header {
  height: 80px;
  padding-right: 104px;
  padding-left: 104px;
  display: grid;
  grid-template-columns: auto 152px 176px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

@media screen and (max-width: 1024px) {
    .header {
        padding-left: 40px;
        padding-right: 40px;
        height: 66px;
        grid-template-columns: auto 96px 152px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
        height: 56px;
        display: flex;
        justify-content: space-between;
    }
}


.header__button-mobile {
  display: none;
}

.header__text {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 30px 0 26px 0;
}

@media screen and (max-width: 1024px) {
    .header__text {
        margin: 23px 0 18px 0;
    }
}

@media screen and (max-width: 700px) {
    .header__text {
        font-size: 16px;
        margin: 16px 0 16px 0;
    }
}


.header__button-home {
  width: 68px;
  height: 50px;
  margin-left: 42px;
  margin-right: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  padding: 0;
  padding-bottom: 26px;
  border: 0;
  margin-top: 30px;
  border-bottom: 3px white solid;
}

@media screen and (max-width: 1024px) {
    .header__button-home {
        width: 60px;
        height: 44px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 22px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    .header__button-home {
        display: none;
    }
}


.header__button-signin {
  width: 152px;
  height: 40px;
  margin: 19px 0 13px 0;
  color: white;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
    .header__button-signin {
        margin: 14px 0 12px 0;
    }
}

@media screen and (max-width: 700px) {
    .header__button-signin {
        display: none;
    }
}

.header__button-signin:hover {
  cursor: pointer;
}

.header__button-home:hover {
  cursor: pointer;
}

.header__link {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
    .header__link {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .header__button-mobile {
        display: block;
        margin-right: 0;
        background-image: url('../../images/menu.svg');
        background-repeat: no-repeat;
        border: 0px;
        stroke: transparent;
        stroke-width: 0px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
